/*========== Base ==========*/

:root{
    --first-color: #45AAB8;
    --second-color: #F9EBB2;
    --body-font: 'Roboto', sans-serif;
    --text-color: #000000;
    --small-font-size: 0.82rem;
    --container-color: #ebebeb;
}

body,
button,
input{
    font-family: var(--body-font);
}


img{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
    padding-left: 2px;
}

a{
    text-decoration: none;
}

tr{
    padding: 1rem;
    vertical-align: top;
}

/*========== Layout ==========*/

.navbar{
    width: 20%;
    margin-right: 5%;
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}


.text-align-center{
    text-align: center;
}

.section-title{
    color: var(--first-color);
    max-width: 350px;
    border: 1px solid var(--first-color);
    border-left: 0;
    border-right: 0;
    margin: 1.5rem 0;
}

/* .border-y-1{
    border: 1px solid var(--first-color);
    border-left: 0;
    border-right: 0;
} */

/* .d-flex{
    display: flex;
} */



.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-transform-upper{
    text-transform: uppercase;
}


/*========== Styles ==========*/
.content{
    width: 100%;
}

.information{
    text-align: -webkit-center;
}

.not-flex-center{
    text-align: -webkit-center;
}


/* .image{
    background-color: var(--first-color);
    border-radius: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
} */

.image img{
    border-radius: 100%;
   
}


.link-icon {
    max-width: 25px;
    padding: 10px;
}

.link {
    /* display: flex;
    align-items: center;
    justify-content: start; */
    display: -webkit-box;
    width: 100%;
    color: var(--text-color);
}


.p-info{
    text-align: center;
    padding: 1rem;
}

/*========== Skill Bar Gradient ==========*/
.skill-set__bar {
    width: 100%;
    height: 0.8rem;
    background: #fff;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 7px 0 rgba(7, 33, 66, 0.15);
}
.skill-set__bar:after {
    -webkit-animation: ratio90 1.5s forwards;
    animation: ratio90 1.5s forwards;
}
.skill-set__bar:after {
    background-color: var(--first-color);
}

.skill-set__bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    width: 80%;
}

.skills-item {
    /* display: flex; */
    /* border: 1px solid var(--first-color); */
    display: -webkit-box;
    width: 200px;
}

.skill-icon {
    max-width: 40px;
}

.skill-details {
    width: 100%;
}

.skill-meta {
    /* display: flex; */
    display: -webkit-box;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
}

.skill-name{
    font-weight: 400;
    width: 80%;
}

.p90::after{
    width: 90%;
}

.p80::after{
    width: 80%;
}

.p60::after{
    width: 60%;
}


/*========== Studies ==========*/

/* .studies{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.studies-logo{
    /* display: inline-flex; */
    position: relative;
}


.studies-logo img{
    max-width: 150px;
}

.studies-logo__tag{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    font-size: var(--small-font-size);
    right: 0;
}

.studies-details{
    text-align: center;
}

.studies-item {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    border: 1px solid var(--first-color);
    padding: 1rem;
    border-radius: 20px;
    max-width: 350px;
    margin-bottom: 1rem;
}



/*========== Stack ==========*/

.stack{
    position: relative;
    max-width: 350px;
    margin-bottom: 1rem;
}

.stack-container{
    padding-top: 3rem;
    border: 2px solid var(--second-color);
    border-radius: 20px;
}

.stack-tag{
    top: 0;
    position: absolute;
    background-color: var(--second-color);
    color: var(--first-color);
    border-radius: 20px 0 20px 0;
    padding: 10px 15px;
    font-weight: 600;
}

.stack-img{
    max-width: 50px;
}

/*========== Proyects ==========*/

.proyect {
    max-width: 350px;
    padding: 0.5rem;
    background-color: var(--container-color);
    border-radius: 20px;
}

.proyect-img {
    border-radius: 20px;
}

.proyect-body {
    padding: 1rem;
}

.proyect-tag {
    background-color: var(--first-color);
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0.5rem;
}


/*========== Inputs ==========*/


.input-container {
    padding: 1rem;
    position: relative;
    /* width: auto; */
}

.input-container input, textarea {
    width: 100%;
    border-radius: 20px;
    max-width: 350px;
    padding: 1rem;
    border: 2px solid var(--first-color );
}

.input-container label {
    position: absolute;
    background: white;
    padding: 0 0.5rem;
    /* margin-bottom: 0.5rem; */
    top: 0;
    border-radius: 20px;
}

/*========== Buttons ==========*/